@import url('https://fonts.googleapis.com/css?family=Montserrat');
html { scroll-behavior: smooth; } 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loadingScreen {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }

body {
    background-color: #0d1117;
    height: 100vh;
    
}
h3{
    color: #eeeeee;
    font-family: 'Montserrat';
    font-size: 20px;
    display: block;
    line-height: 1.5;
}
h2{
    display: flexbox;
    align-items: center;
    justify-content: center;
    z-index: 13;
    color: #ff007b; 
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 90px;
}

h1{
    display: flexbox;
    align-items: center;
    justify-content: center;
    z-index: 13;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 70px;
    padding-top: 30px;
}



a{
    color:#ff007b;
    font-family: 'Montserrat';
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
}


.dot {
    height: 25px;
    width: 25px;
    background-color: #185fd2;
    border-radius: 50%;
    display: inline-block;
  }


.revealedArea{
    position: absolute;
    inset: 0;
    background: radial-gradient(circle 280px at 50% 50%, transparent 10%, rgba(0, 0, 0, 0.70));
    pointer-events: none;
    z-index: 3;
}

.background1 {
    position: relative;
    z-index: 2;
    pointer-events: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    pointer-events: none;  
}


.HighlightText {
color: #ff007b;
text-shadow: #ff007b 0px 0px 15px;
}

h4{
    color: #f3f3f3;
    font-family:'Montserrat';
    font-weight: 100;
    font-size: 50px;
}

.text1 {
    animation: 1s ease-out 0s slideInLeft;
    line-height: 20%;
    
    z-index: 10;
   
    
}

.text2 {
    animation: 1s ease-out 0s slideInRight;
    animation-fill-mode: forwards;
    visibility: hidden;
    z-index: 11;
    margin-top: 30px;
    
}




@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-5%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      visibility: visible;
      transform: translateX(5%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }


  .button1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #ff007b;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #ff007b;
    text-align: center;
    font-size: large;
    font-family: 'Montserrat';
    font-weight: 400;
    visibility: hidden; 
    animation: 1s ease-out 0s slideUp;
    animation-fill-mode: forwards;
    height: 40px;
    width: 250px;
    pointer-events: auto;
  }

  .button1:hover{
    height: 50px;
    width: 260px;
    font-size: x-large;
    font-family: 'Montserrat';
    font-weight: 400;
    transition: 0.7s;
    box-shadow: #ff007b 0px 0px 0px 15px;
  }

  @keyframes slideUp {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translateY(-15%)
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%)
    }

  }


  .top-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#242424;   
    width: 100%;
    }

.navB{
    font-family: 'Montserrat';
    font-size: 20px;
    color: #00ff55;
}

.spacer{
    background-color:#242424;   
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

}

.textContainer{
    max-width: 80%;
    padding-bottom: 20px;
}

.embededMCCalc{
    width: 80%;
    height: 500px;

}
.mazeimage{
    width: 80%;
    height: 60%;
}

.spacegifrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spaceimg{
    width: 40%;
}
  .foreground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 12;
    padding-top: 20px;
}
  

.end{
    padding-top: 10px;
    padding-bottom: 40px;
}

