@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d1117;
    color: #eeeeee;
    height: 100vh;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #185fd2;
    border-radius: 50%;
    display: inline-block;
  }


.revealedArea{
    position: fixed;
    inset: 0;
    background: radial-gradient(circle 280px at 50% 50%, transparent 10%, rgba(0, 0, 0, 0.70));
    pointer-events: none;
    z-index: 3;
}

.background1 {
    position: relative;
    z-index: 2;
    pointer-events: auto;
}

.container {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    margin-top: -400px;
    pointer-events: none;
}


.HighlightText {
color: #ff007b;
text-shadow: #ff007b 0px 0px 15px;
}

.text1 {
    animation: 1s ease-out 0s slideInLeft;
    line-height: 20%;
    color: #f3f3f3;
    z-index: 10;
    font-family:'Montserrat';
    font-weight: 100;
}

.text2 {
    animation: 1s ease-out 0s slideInRight;
    animation-fill-mode: forwards;
    visibility: hidden;
    color: #f3f3f3;
    z-index: 11;
    font-family:'Montserrat';
    font-weight: 100;
    margin-top: 30px;
}




@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-5%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      visibility: visible;
      transform: translateX(5%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }


  .button1{
    margin-top: 30px;
    color: #ff007b;
    background-color: #00000000;
    border-style: solid;
    border-width: 2px;
    border-color: #ff007b;
    text-align: center;
    font-size: large;
    visibility: hidden; 
    animation: 1s ease-out 0s slideUp;
    animation-fill-mode: forwards;
    height: 40px;
    width: 250px;
    pointer-events: auto;
  }

  .button1:hover{
    height: 50px;
    width: 260px;
    font-size: x-large;
    transition: 0.7s;
    box-shadow: #ff007b 0px 0px 0px 15px;
  }

  @keyframes slideUp {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translateY(-15%)
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%)
    }
  }